@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>
        ¡Construyamos una navegación sin cabeza con ASP.NET Core y Kontent!
    </p>
</div>
