
@using System.Globalization

@model LanguageSwitcher

<div>
    Language selector:
    <ul>
        @foreach (LanguageSwitcherOption co in Model.CultureOptions)
        {
            <li>
                <a asp-controller=@co.TranslatedController asp-action=@co.TranslatedAction
                   asp-route-culture=@co.CultureCode>
                    @co.DisplayName
                </a>
            </li>
        }
    </ul>
</div>